[submodule "grip-py"]
	path = grip-py
	url = git@github.com:owebeeone/grip-py.git
[submodule "grip-core"]
	path = grip-core
	url = git@github.com:owebeeone/grip-core.git
[submodule "grip-vue"]
	path = grip-vue
	url = git@github.com:owebeeone/grip-vue.git
[submodule "grip-vue-demo"]
	path = grip-vue-demo
	url = git@github.com:owebeeone/grip-vue-demo.git
[submodule "grip-react"]
	path = grip-react
	url = git@github.com:owebeeone/grip-react.git
[submodule "grip-react-demo"]
	path = grip-react-demo
	url = git@github.com:owebeeone/grip-react-demo.git
[submodule "grip-py-demo"]
	path = grip-py-demo
	url = git@github.com:owebeeone/grip-py-demo.git
[submodule "pyrolyze"]
	path = pyrolyze
	url = git@github.com:owebeeone/py-rolyze-wip.git
	branch = codex/no_comp_value_hyp
[submodule "grip-pyrolyze-examples"]
	path = grip-pyrolyze-examples
	url = git@github.com:owebeeone/grip-pyrolyze-examples.git
[submodule "grip-pyrolyze"]
	path = grip-pyrolyze
	url = git@github.com:owebeeone/grip-pyrolyze.git
[submodule "yidl-lifecycle"]
	path = yidl-lifecycle
	url = git@github.com:owebeeone/yidl-lifecycle.git
[submodule "astichi"]
	path = astichi
	url = git@github.com:owebeeone/astichi.git
[submodule "yidl"]
	path = yidl
	url = git@github.com:owebeeone/yidl.git
