.DS_Store
.vscode/.env
.vscode/launch.json
.vscode/local_settings.py
.vscode/settings.json
.dev-venv/
__pycache__/
*.pyc
scratch/
.project_viewer_server.json
.project_viewer_server.lock
.project_viewer/
