GitPython>=3.1.46
PySide6<7,>=6.10.2,>=6.6,>=6.7
commentjson>=0.9.0
dataclasses-json<0.7,>=0.6.7
dearpygui<3,>=2.0,>=2.2
fastapi>=0.136.3
frozendict>=2.4.7
httpx>=0.27,>=0.28.1
lark>=1.1
packaging>=26.2
pytest-cov>=4.0.0,>=7.1.0
pytest>=9.0.3
tomli>=2.4.0
uvicorn>=0.48.0
websockets>=15.0.1
